<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
    <script src="public/javascripts/jquery.jstree.js" type="text/javascript"></script>
    <script src="public/javascripts/highstock/highstock.src.js" type="text/javascript"></script>
    <script src="public/javascripts/graphlcopter.js" type="text/javascript"></script>
    <script src="public/javascripts/charts.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="public/stylesheets/jquery-ui-1.8.16.custom.css">
    <link rel="stylesheet" href="public/stylesheets/bootstrap-1.1.0.min.css">    <title>graphlcopter</title>
  </head>
  <body>
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <h3>grahlcopter</h3>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div class="container-fluid">
      <div class="sidebar" id="sidebar">
        This is the sidebar
      </div>
      <div class="content">
        <div id="graph" style="width: 100%"></div>
        <div class="clearfix">
        </div>
      </div>
    </div>
  </body>
</html>
